/* #output {
    width: 1200px;
    height: 3000px;
    font-size: medium;
} */

body {
    background-color: #F2F3F7;
}

#dropTarget {
    float: left;
    height: 100px;
    width: 1006px;
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #75b0dd 100%);    
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3px;
    border: 1px solid gainsboro;
    font-size: larger;
    border-radius: 8px;
}

#Animation {
    float: right;
    height: 750px;
    width: 850px;
}

#server {
    position: absolute;
    top: 3%;
    margin-left: 1%;
    height: 640px;
    width: 200px;
    display: flex;
    justify-content: center;
}


#client {
    position: absolute;
    top: 3%;
    right: 1%;
    height: 640px;
    width: 200px;
    display: flex;
    justify-content: center;
}

.list li {
    list-style-type: none;
    text-align: center;
}

#pathArea {
    position: absolute;
    top: 5%;
    right: 12%;
    width: 400px;
    height: 600px;
    display: flex;
    justify-content: center;
    white-space: normal;

}

.pathFlag {
    visibility: hidden;
    font-size: smaller;
}

.pathCross {
    width: 300px;
    height: 30px;
}

.cross {
    fill: none;
    stroke: red;
    stroke-width: 3;
    visibility: hidden;
}

#macDiv {
    float: left;
    height: 600px;
    width: 1006px;
    background-color: #3cb0fd;
    border: 2px solid gainsboro;
    border-radius: 12px;
}

#ipDiv {
    height: 500px;
    width: 900px;
    background-color: #6cc2fc;
    border-radius: 10px;
    margin-left: 20px;
}

#tcpDiv {
    height: 400px;
    width: 800px;
    background-color: #a9ddff;
    border-radius: 8px;
    margin-left: 20px;

}

#dataDiv {
    height: 250px;
    width: 680px;
    background-color: #ceecff;
    overflow-y: auto;
    border-radius: 8px;
    margin-left: 20px;
}

#Data {
    height: 246px;
    width: 490px;
    /*  overflow-wrap用于span内容自动换行 */
    overflow-wrap: break-word;
}

#packSelect {
    font-size: medium;
}

#header {
    width: 800px;
    margin: 5px;
    margin-left: 10px;
}

#dataHandle {
    font-size: small;
    margin-left: 15px;
    background-color: #cedbfd;
    border: 0ch;
    border-radius: 8px;
}

#animation {
    font-size: small;
    margin-left: 15px;
    background-color: #cedbfd;
    border: 0ch;
    border-radius: 8px;
}